<div class="marital-status-group" >
  <div class="radio-options">
    <label
      class="radio-card"
      [class.selected]="selectedValue == maritalStatusEnum.Single"
      for="maritalStatusSingle"
    >
      <input
        type="radio"
        id="maritalStatusSingle"
        name="maritalStatus"
        value="single"
        [checked]="selectedValue == maritalStatusEnum.Single"
        (change)="onSelectionChange(maritalStatusEnum.Single)"
      />
      <span class="radio-custom"></span>
      <span class="radio-text">
        {{ "Marital-Status-Keys.SINGLE" | translate }}
      </span>
    </label>

    <label
      class="radio-card"
      [class.selected]="selectedValue == maritalStatusEnum.Married"
      for="maritalStatusMarried"
    >
      <input
        type="radio"
        id="maritalStatusMarried"
        name="maritalStatus"
        value="married"
        [checked]="selectedValue == maritalStatusEnum.Married"
        (change)="onSelectionChange(maritalStatusEnum.Married)"
      />
      <span class="radio-custom"></span>
      <span class="radio-text">
        {{ "Marital-Status-Keys.MARRIED" | translate }}
      </span>
    </label>
  </div>
</div>
