.forget-password-and-remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.forget-password {
  user-select: none;
  font-size: var(--font-size-base);
  color: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

.forget-password:hover {
  color: var(--primary-color);
  font-weight: var(--font-weight-semi-bold);
  text-decoration: underline;
}
