<div
  class="form-inputs"
  [class.focused]="isFocused"
  [class.invalid-input]="isInvalid"
>
  @if (prefixIcon) {
    <i
      class="prefix-icon"
      [class]="prefixIcon"
      aria-hidden="true"
    ></i>
  } @else {
    <span class="prefix-spacer" aria-hidden="true"></span>
  }

  <input
    class="text-input"
    [id]="inputId"
    [type]="inputType"
    [placeholder]="placeholder"
    [formControl]="control"
    [autocomplete]="autocomplete"
    [readonly]="readonly"
    (focus)="onFocus()"
    (blur)="onBlur()"
    maxlength="64"
  />

  <button
    type="button"
    class="suffix-btn"
    (click)="togglePassword()"
    aria-label="Toggle password visibility"
  >
    <i
      class="fas"
      [ngClass]="{
        'fa-eye': !showPassword,
        'fa-eye-slash': showPassword,
      }"
      aria-hidden="true"
    ></i>
  </button>
</div>
