.alert-error-message {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  background-color: #fef2f2;
  color: var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 1rem;
}
.alert-error-message p {
  margin: 0;
  line-height: 1.5;
}
