<div class="pagination-row">
  <p>
    {{ "PAGINATION_KEYS.SHOWING" | translate }}
    <strong>{{ shownFrom() }}</strong>
    {{ "PAGINATION_KEYS.TO" | translate }}
    <strong>{{ shownTo() }}</strong>
    {{ "PAGINATION_KEYS.OF" | translate }}
    <strong>{{ totalCount() }}</strong>
    {{ "PAGINATION_KEYS.RESULTS" | translate }}
  </p>

  <div class="pagination-actions">
    <button
      type="button"
      class="page-btn previous-btn"
      [disabled]="pageNumber() <= 1"
      (click)="previousClicked.emit()"
    >
      <i class="fa-solid pagination-arrow"></i>
      {{ "PAGINATION_KEYS.PREVIOUS" | translate }}
    </button>

    <span class="page-number">
      {{ "PAGINATION_KEYS.PAGE" | translate }}
      {{ pageNumber() }}
      {{ "PAGINATION_KEYS.OF" | translate }}
      {{ totalPages() }}
    </span>

    <button
      type="button"
      class="page-btn next-btn"
      [disabled]="pageNumber() >= totalPages()"
      (click)="nextClicked.emit()"
    >
      {{ "PAGINATION_KEYS.NEXT" | translate }}
      <i class="fa-solid pagination-arrow"></i>
    </button>
  </div>
</div>
