<div class="forgot-password-page">
  <div class="auth-container">
  <app-auth-container-heading
    title="{{ 'ResetPassword-Keys.TITLE' | translate }}"
    subtitle="{{ 'ResetPassword-Keys.SUBTITLE' | translate }}"
  ></app-auth-container-heading>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container py-5 px-4">
    <app-password-text-field
      [control]="form.controls.newPassword"
      placeholder="{{ 'ResetPassword-Keys.NEW_PASSWORD_PLACEHOLDER' | translate }}"
      prefixIcon="fas fa-lock"
      autocomplete="new-password"
      inputId="newPassword"
    />

    @if (form.controls.newPassword.touched || form.controls.newPassword.dirty) {
      @if (form.controls.newPassword.hasError("required")) {
        <app-form-error-message
          [errorMessage]="'ResetPassword-Keys.NEW_PASSWORD_IS_REQUIRED' | translate"
        />
      } @else if (form.controls.newPassword.hasError("minlength")) {
        <app-form-error-message
          [errorMessage]="'ResetPassword-Keys.PASSWORD_MIN_LENGTH' | translate"
        />
      }
    }

    <app-password-text-field
      [control]="form.controls.confirmNewPassword"
      placeholder="{{ 'ResetPassword-Keys.CONFIRM_NEW_PASSWORD_PLACEHOLDER' | translate }}"
      prefixIcon="fas fa-lock"
      autocomplete="new-password"
      inputId="confirmNewPassword"
    />

    @if (
      form.controls.confirmNewPassword.touched ||
      form.controls.confirmNewPassword.dirty
    ) {
      @if (form.controls.confirmNewPassword.hasError("required")) {
        <app-form-error-message
          [errorMessage]="'ResetPassword-Keys.CONFIRM_NEW_PASSWORD_IS_REQUIRED' | translate"
        />
      }
    }

    @if (
      form.hasError("fieldsMismatch") &&
      (form.controls.confirmNewPassword.touched ||
        form.controls.confirmNewPassword.dirty)
    ) {
      <app-form-error-message
        [errorMessage]="'ResetPassword-Keys.PASSWORDS_DO_NOT_MATCH' | translate"
      />
    }

    @if (serverErrorMessage()) {
      <app-form-error-message [errorMessage]="serverErrorMessage()" />
    }

    <app-primary-button
      label="{{ 'ResetPassword-Keys.RESET_PASSWORD' | translate }}"
      type="submit"
      [disabled]="isLoading()"
      [isLoading]="isLoading()"
    />
  </form>
</div>

</div>
