<div class="container-heading">
  <a class="container-heading-logo" data-aos="fade-down" data-aos-delay="150">
    <img src="{{
        langService.currentLang == 'en'
          ? 'assets/images/Qatrah_Hayat_logo_footer.svg'
          : 'assets/images/Qatrah_Hayat_logo_ar_footer.svg'
      }}"
      [attr.alt]="'Accessibility-Keys.LOGO' | translate"
      width="125"
      class="me-2"
    />
  </a>
  <h2 class="container-heading-title" data-aos="fade-left" data-aos-delay="300">
    {{ title }}
  </h2>
  <p class="container-heading-subtitle" data-aos="fade-right" data-aos-delay="450">
    {{ subtitle }}
  </p>
</div>
