<div class="forgot-password-page">
  <div class="auth-container">
  <app-auth-container-heading
    title="{{ 'ForgotPassword-Keys.TITLE' | translate }}"
    subtitle="{{ 'ForgotPassword-Keys.SUBTITLE' | translate }}"
  ></app-auth-container-heading>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="py-4 px-4">
    <app-text-field
      [control]="form.controls.email"
      type="email"
      placeholder="{{ 'ForgotPassword-Keys.EMAIL_PLACEHOLDER' | translate }}"
      prefixIcon="fas fa-envelope"
      autocomplete="email"
      inputId="email"
    />

    @if (form.controls.email.touched || form.controls.email.dirty) {
      @if (form.controls.email.hasError("required")) {
        <app-form-error-message
          [errorMessage]="'ForgotPassword-Keys.EMAIL_IS_REQUIRED' | translate"
        />
      } @else if (form.controls.email.hasError("email")) {
        <app-form-error-message
          [errorMessage]="'ForgotPassword-Keys.EMAIL_IS_INVALID' | translate"
        />
      }
    }

    @if (serverErrorMessage()) {
      <app-alert-error [errorMessage]="serverErrorMessage()!" />
    }

    <app-primary-button
      label="{{ 'ForgotPassword-Keys.SEND_OTP' | translate }}"
      type="submit"
      [disabled]="isLoading()"
      [isLoading]="isLoading()"
    />

    <div class="container-footer-link">
      <a routerLink="/auth/login">
        {{ "ForgotPassword-Keys.BACK_TO_LOGIN" | translate }}
      </a>
    </div>
  </form>
</div>

</div>
